@import "tailwindcss";

@theme {
  --color-blue: rgba(20, 98, 255, 1);
  --color-blue-hover: rgba(71, 131, 255, 1);
  --color-dark: rgba(16, 22, 34, 1);
  --color-dark-border: rgba(64, 76, 103, 1);
  --color-darkish-grey: rgba(28, 35, 51, 1);
  --color-slate: rgba(181, 193, 220, 1);
}

@layer base {

  button,
  input,
  select,
  textarea {
    @apply appearance-none bg-transparent border-0 outline-none;
  }
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #ffffff;
  background-color: var(--color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}